<div
  class="gallery"
  scrollDirective
  [isLoading]="isLoading"
  (scrolledToEnd)="loadImages()"
>
  <div class="image-container" *ngFor="let photo of photos">
    <img [src]="photo?.url" [alt]="photo?.id" (click)="addToFavorites(photo)" />
    <mat-icon
      class="favorite"
      aria-hidden="false"
      aria-label="add to favorites icon"
      fontIcon="favorite"
      *ngIf="isFavorite(photo)"
    ></mat-icon>
  </div>
</div>
<mat-spinner *ngIf="isLoading" color="#2f6050"></mat-spinner>
