/* You can add global styles to this file, and also import other style files */

@import "/src/app/shared/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.mat-mdc-progress-spinner circle,
.ma-mdct-spinner circle {
  stroke: $primary !important;
}
